@font-face {
    font-family: 'dextoolsicon';
    src: url('../font/dextoolsicon.eot?58264467');
    src: url('../font/dextoolsicon.eot?58264467#iefix') format('embedded-opentype'), url('../font/dextoolsicon.woff2?58264467') format('woff2'), url('../font/dextoolsicon.woff?58264467') format('woff'), url('../font/dextoolsicon.ttf?58264467') format('truetype'), url('../font/dextoolsicon.svg?58264467#dextoolsicon') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */

/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */

/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'dextoolsicon';
    src: url('../font/dextoolsicon.svg?58264467#dextoolsicon') format('svg');
  }
}
*/

[class^="elementor-icon"]:before,
[class*=" elementor-icon"]:before {
    font-family: "dextoolsicon";
    font-style: normal;
    font-weight: normal;
    speak: never;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    text-align: center;
    /* opacity: .8; */
    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;
    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;
    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */
    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.elementor-iconvector:before {
    content: '\e800';
}

/* 'î €' */