.elementor-kit-6 {
    --e-global-color-primary: #FFFFFF;
    --e-global-color-secondary: #54595F;
    --e-global-color-text: #000000;
    --e-global-color-accent: #FC705E;
    --e-global-color-eacfd40: #FFA737;
    --e-global-typography-primary-font-family: "Burger Free";
    --e-global-typography-primary-font-weight: 400;
    --e-global-typography-secondary-font-family: "Burger Free";
    --e-global-typography-secondary-font-weight: 400;
    --e-global-typography-text-font-family: "Pragati Narrow";
    --e-global-typography-text-font-weight: 400;
    --e-global-typography-accent-font-family: "Burger Free";
    --e-global-typography-accent-font-weight: 400;
}

.elementor-kit-6 e-page-transition {
    background-color: #FFBC7D;
}

.elementor-section.elementor-section-boxed>.elementor-container {
    max-width: 1140px;
}

.e-con {
    --container-max-width: 1140px;
}

.elementor-widget:not(:last-child) {
    margin-block-end: 20px;
}

.elementor-element {
    --widgets-spacing: 20px 20px;
}

{}

h1.entry-title {
    display: var(--page-title-display);
}

.site-header .site-branding {
    flex-direction: column;
    align-items: stretch;
}

.site-header {
    padding-inline-end: 0px;
    padding-inline-start: 0px;
}

.site-footer .site-branding {
    flex-direction: column;
    align-items: stretch;
}

@media(max-width:1150px) {
    .elementor-section.elementor-section-boxed>.elementor-container {
        max-width: 1024px;
    }
    .e-con {
        --container-max-width: 1024px;
    }
}

@media(max-width:767px) {
    .elementor-section.elementor-section-boxed>.elementor-container {
        max-width: 767px;
    }
    .e-con {
        --container-max-width: 767px;
    }
}

/* Start Custom Fonts CSS */

@font-face {
    font-family: 'Burger Free';
    font-style: normal;
    font-weight: normal;
    font-display: auto;
    src: url('https://sproto.io/wp-content/uploads/2024/11/Burger-Free.ttf') format('truetype');
}

/* End Custom Fonts CSS */